<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Server2</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/Print</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>cms.tools.Print</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Print2</servlet-name>
        <url-pattern>/Print2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Print2</servlet-name>
        <servlet-class>cms.tools.Print2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Server2</servlet-name>
        <url-pattern>/Server2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>cc</servlet-name>
        <url-pattern>/cc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cc</servlet-name>
        <servlet-class>cms.tools.DirectorCms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mm</servlet-name>
        <url-pattern>/mm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mm</servlet-name>
        <servlet-class>cms.tools.DirectorManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aa</servlet-name>
        <url-pattern>/aa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>aa</servlet-name>
        <servlet-class>/aaa.jsp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nn</servlet-name>
        <url-pattern>/nn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>nn</servlet-name>
        <servlet-class>cms.tools.DirectorNamayandegi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Server</servlet-name>
        <url-pattern>/Server</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Server</servlet-name>
        <servlet-class>cms.tools.Server</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>cms.tools.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet2</servlet-name>
        <servlet-class>cms.tools.UploadServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet2</servlet-name>
        <url-pattern>/UploadServlet2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>
            cms.tools.TaskScheduler
        </listener-class>
    </listener>
</web-app>
